@import "tailwindcss";


@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@theme {
  /* Colors */
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(28.68% 0.014 264.54);

  --color-muted: oklch(97.19% 0.004 264.54);
  --color-muted-foreground: oklch(61.48% 0.018 264.54);

  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(28.68% 0.014 264.54);

  --color-border: oklch(93.47% 0.006 264.54);
  --color-input: oklch(93.47% 0.006 264.54);

  --color-card: transparent;
  --color-card-foreground: oklch(28.68% 0.014 264.54);

  --color-primary: oklch(28.68% 0.014 264.54);
  --color-primary-foreground: oklch(98.78% 0.004 264.54);

  --color-secondary: oklch(97.19% 0.004 264.54);
  --color-secondary-foreground: oklch(28.68% 0.014 264.54);

  --color-accent: oklch(97.19% 0.004 264.54);
  --color-accent-foreground: oklch(28.68% 0.014 264.54);

  --color-destructive: oklch(60.77% 0.251 29.23);
  --color-destructive-foreground: oklch(98.78% 0.004 264.54);

  --color-ring: oklch(77.09% 0.024 264.54);

  /* Border Radius */
  --radius: 0.5rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* Fonts */
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Container */
  --container-center: true;
  --container-padding: 2rem;
  --container-screens-2xl: 1400px;
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
